<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>NOOKLYN</title>
	<div class="bar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/listings">Listings</a></li>
		</ul>
	</div>
	<center><img src="http://33.media.tumblr.com/avatar_ec0a89954dc3_128.png"></center>
	<h1 id="head">NOOKLYN</h1>	
</head>
<body>
</body>
<footer>&copy; Copyright 2015 - NOOKLYN</footer>
</html>