<html>
<head>
	<title>NOOKLYN</title>
	<center><img src="http://33.media.tumblr.com/avatar_ec0a89954dc3_128.png"></center>
	<h1 id="head">NOOKLYN</h1>	
	<div class="bar">
		<div id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/listings">Listings</a></li>
			</ul>
		</div>
	</div>
</head>
<body>
</body>
<footer>&copy; Copyright 2015 - NOOKLYN</footer>
</html>