<html>
<head>
	<title>Green Bay Real Estate</title>
	<h1 id="head">Green Bay Real Estate</h1>	
<div id="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/listings">Listings</a></li>
	</ul>
</div>
</head>
<body>
	<center><img src="http://www.samueljohnson.com/blog/images/080507.jpg"</center>
</body>
<footer>&copy; Copyright 2015 - Green Bay Real Estate</footer>
</html>