// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #FDBF48;
	
}

#head {
	color: #333333;
	font-size: 104px;
	font-weight: 750;
	margin-top: 0;
	text-align: center;
}

.bar {
	background-color: black;
	border-color: black;
	border: solid;
}

.bar a {
	padding: 0 10 0 10px;
}

h4 {
	text-decoration: underline;
}

#menu {
	color: white;
	margin: 0px;
}

ul {
	text-align: left;
}

li {
	display: inline;
}

#listing {
	border: solid;
	border-spacing: 0;
}

footer {
	color: black;
	text-align: center;
	margin-top: 15px;
}

#users {
	display: inline;
}

a {
	color: white;
	text-decoration: none;
	&:hover {
		color: white;
	}
}

#form1 {
	border-color: #FFC20E;
	border: solid;
	height: 325px;
	text-align: center;
	width: 300px;
}

table.pure-table {
	color: #FFC20E;
	tbody {
		tr {
			background-color: #414141;
		}		
	}
}

h2 {
	color: #FFC20E;
}

#form {
	border-color: #FFC20E;
	border: solid;
	height: 375px;
	text-align: center;
	width: 300px;
}

h3 {
	color: #333333;
	font-size: 22px;
	letter-spacing: 2px;
	margin: 0 0 0 0px;
	text-align: center;
}